<div class="yaw__feedback__item">
  <div class="yaw__feedback__item__head">
    mixanq
    <span class="yaw__feedback__item__time fl_r">12 декабря 2012</span>
  </div>

  <div class="clearfix">
    <div class="yaw__feedback__item__rate">
      <div class="yaw__product-rate fl_l">
        <span style="width: 50%"></span>
      </div>
      <span class="yaw__label fl_l">хорошая модель</span>
      <span class="yaw__label fl_r">Опыт использования - меньше месяца</span>
    </div>
  </div>

  <p class="yaw__descr__item">
      <span class="yaw__descr__name">
        Достоинства:
      </span>
    c Сочный большой экран Retina, прекрасный звук в наушниках, очень быстрый, вообще не лагает и не тормозит по-сравнению с Android за эту же цену (спасибо Apple A6), просто шикарная камера: отличная цветопередача, минимум шумов, диафрагма 2,4; идеальный дизайн от Джони Айва; операционная система iOS самая стабильная и быстрая; хорошо держит зарядку даже по-сравнению с samsung galaxy s3 и note 2 iPhone 5 лучший!
  </p>

  <p class="yaw__descr__item">
      <span class="yaw__descr__name">
        Недостатки:
      </span>
      <span class="yaw__descr__value">
        Цена, аккумулятор, аксессуары, надежность
      </span>
  </p>

  <div class="yaw__feedback__usefull">
    Отзыв полезен? <a href="#" class="yaw__feedback__usefull__yes">Да</a> 17 / <a href="#" class="yaw__feedback__usefull__no">Нет</a> 120
  </div>
</div>