<div class="yaw__feedback__head">
            <div class="yaw__feedback__head__top">
              <dl class="yaw__creator fl_r">
                <dt>Разработчик</dt>
                <dd><a class="sm-logo" href="#"></a></dd>
                <dt>Данные</dt>
                <dd><a href="#">Яндекс.Маркет</a></dd>
              </dl>
              <div class="yaw__my-rate">
                <span class="yaw__label fl_l">Моя оценка</span>

                <div class="yaw__product-rate fl_l">
                  <span style="width: 50%"></span>
                </div>
                <a class="fl_l yaw__btn_yellow" href="#">Написать отзыв</a>
              </div>
            </div>
            <div class="yaw__feedback__head__bottom">
              <div class="yaw__my-rate">
                <span class="yaw__label fl_l">Мнение покупателей</span>

                <div class="yaw__product-rate fl_l">
                  <span style="width: 50%"></span>
                </div>
                <span class="fl_l yaw__vote-count">3518 оценок</span>
              </div>
              <div class="yaw__descr">
                <p class="yaw__descr__item">
                  <span class="yaw__descr__name">
                    Достоинства:
                  </span>
                    Экран, камера, удобство использования, вес, скорость, качество звука
                </p>

                <p class="yaw__descr__item">
                  <span class="yaw__descr__name">
                    Недостатки:
                  </span>
                  Цена, аккумулятор, аксессуары, надежность
                </p>
              </div>
            </div>
          </div>