<div class="yaw__feedback__footer">
  <ul class="yaw__feedback__pager_simple fl_l">
    <li>Страницы</li>
    <li><a class="disabled" data-increment='-1' href="#">предыдущая</a></li>
    <li><a data-increment='+1' href="#">следующая</a></li>
  </ul>
  <ul class="yaw__feedback__pager fl_r">
  </ul>
</div>